<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #center {
        width: 100vw;
        height: 100vh;
        display: flex;
        gap: 5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<body>
    <div id="center">
        <form id="creat" method="POST" enctype="multipart/form-data">
            <input type="text" name="id" placeholder="STT">
            <input type="text" name="ten_bb" placeholder="Tên bài báo">
            <input type="text" name="ten_ntg" placeholder="Tên nhóm tác giả">
            <input type="text" name="chi_so" placeholder="Chỉ số">
            <input type="number" name="so_trang" placeholder="Số trang">
            <input type="number" name="nam_xb" placeholder="Năm xuất bản">

            <input type="submit" value="Thêm">
        </form>
        <table border="1">
            <tr>
                <td>STT</td>
                <td>Tên bài báo</td>
                <td>Tên nhóm tác giả</td>
                <td>Chỉ số</td>
                <td>Số trang</td>
                <td>Năm xuất bản</td>
                <td>Chọn</td>
            </tr>
            <%for (let i = 0; i < baiBaos.length; i++) {%>
                <tr>
                    <td>
                        <%=baiBaos[i].id%>
                    </td>
                    <td>
                        <%=baiBaos[i].ten_bb%>
                    </td>
                    <td>
                        <%=baiBaos[i].ten_ntg%>
                    </td>
                    <td>
                        <%=baiBaos[i].chi_so%>
                    </td>
                    <td>
                        <%=baiBaos[i].so_trang%>
                    </td>
                    <td>
                        <%=baiBaos[i].nam_xb%>
                    </td>

                    <td>
                        <form action="/delete" method="POST" enctype="multipart/form-data">
                          <input type="hidden" name="id" value="<%=baiBaos[i].id%>"></input>
                          <input type="submit" value="Xóa"></input>
                        </form>
                      </td>
                </tr>
                <%} %>
        </table>
    </div>
</body>

</html>